<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #chipGrid aria-label="Selection">
    @for (item of selectedItems(); track item.key) {
      <mat-chip-row (removed)="remove(item)">
        {{ item.label }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    placeholder="New {{ label.toLowerCase() }}..."
    [formControl]="itemCtrl"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipGrid"
    (matChipInputTokenEnd)="add($event)">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (item of filteredItems | async; track item.key) {
      <mat-option [value]="item">{{ item.label }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field> 